* {
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #1F254C;
}
body{
    margin-top: 200px;
}

h1{
    padding-left: 10%;
    margin-bottom: 7%;
}

.feedbacks-container{
    border: 1px solid rgb(225, 225, 225);
    margin-top: 50px;
    padding: 20px;
}
.feedbacks{
    border: 1px solid rgb(225, 225, 225);
    padding: 20px;
    margin: 20px;
    .user{
        font-weight: 800;
    }
    .dates{
        position: absolute;
        left: 1300px;
    }
    .contents{
        width: 80%;
        overflow-wrap: break-word;
        margin-top: 20px;
    }
}
.remove-button{
    background: none;
    border: none;
    position: absolute;
    left: 1400px;
    font-weight: 900;
    width: 20px;
    text-align: center;
}
.remove-button:hover{
    background-color: #F18835;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}