
.container{
    display: none;
}

.blur {
    filter: blur(5px)
}

.contact-container{
    z-index: 9999;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0%;
}

.container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: #1DBDB6;
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}
.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #1F254C;
}
.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px;
}
.right-side .input-box textarea{
    padding-top: 6px;
}

.send-button {
    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom,#1F254C,#353A5D,#4B506F);
    padding: 11px 23px;
    background-size: auto 300%;
    background-position: 0 100% ;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
}

.send-button:hover {
    background-size: auto 100%;
    background-position: 0 0;
    color: #fff;
}

.send-button:active {
    background-size: auto 300%;
    background-position: 0 100%;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.16);
    color: #fff;
}

.send-button[disabled] {
    background: #1F254C;
    box-shadow: none;
    opacity: .4;
    cursor: not-allowed;
}

.cancel-button {
    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: #1F254C;
    background:white;
    padding: 11px 23px;
    background-size: auto 300%;
    background-position: 0 100% ;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
}

.cancel-button:hover {
    background-size: auto 100%;
    background-position: 0 0;
    color: #F18835;
}

.cancel-button:active {
    background-size: auto 300%;
    background-position: 0 100%;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.16);
    color:#1F254C;
}

.cancel-button[disabled] {
    border: 1px solid #1F254C;
    box-shadow: none;
    opacity: .4;
}


@media (max-width: 950px) {
    .container{
        width: 90%;
        padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
        width: 75%;
        margin-left: 55px;
    }
}
@media (max-width: 820px) {
    .container{
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}

