* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #1F254C;
}
h1 {
    margin-left: 100px;
}
body{
    margin-top: 200px;
}
section {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    margin: 5vh;
}
select {
    display: block;
    height: 48px;
    padding: 11px 44px 11px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
    font: 400 18px "Nunito Sans";
    color: #121212;
    cursor: pointer;
    transition: all 0.2s;
}
.settings{
    border-top: 1px solid rgb(193, 193, 193);
    padding:30px;

}
.settings a{
    height: 48px;
    display: inline-block;
    font: 700 18px "Nunito Sans";
    color: #147efb;
    padding: 11px 23px;
    background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(123.18deg, #00ffff 0%, #1F254C 5%) border-box;
    background-size: auto 300%;
    background-position: 0 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}
.categories{
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
}
.chart-container{
    position: relative; 
    width: 100%;
    height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.chart{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.chart canvas{
    width: 800px;
    height: 700px;
}

/* ADD WEBSITE FORM  */
.add-website-url-input{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    margin-bottom: 20px;
}
.add-website-button-container{
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    margin-top: 20px;
    background-color: transparent;
}
.btn-blue, 
.btn-white{
    height: 40px;
    width: 100px;
    background-color:#1F254C ;
    font: 700 18px nunito sans;
    font-weight: 400;
    color: #fff;
    padding: 6px 0px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.04);
    cursor: pointer;
    text-align: center;
    transition: all .3s;
}
.btn-white {
    color:#1F254C ;
    background-color: whitesmoke;
    scale: 0.8;
}
.btn-white:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    scale: 0.83;
}
.btn-blue:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    scale: 1.02;
}
.add-website-form{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 20px;
    margin-bottom: 20px;
    padding: 1%;
    position: fixed;
    top: 25%;
    left: 32%;
    background-color: white;
    border: 2px solid #1F254C;
    border-radius: 10px;
    width: 400px;
    z-index: 999;
}
.add-website-form h2 {
    justify-self: center;
    align-self: center;
}
.add-website-form form {
    flex-direction: column;
    width: 80%;
    align-self: center;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}  
.input-container input {
    width: 100%;
    height: 25px;
} 
#copy-button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 0;
    padding: 0;
    height: 20px;
    cursor: pointer;
    background-color: white;
}
.add-website-script-container {
    position: relative;
}
.hidden {
    display:none;
}
.blurry
{
    filter: blur(5px);
}
.users-info-container{
    position: relative; 
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 30%; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-top: 10px;
    justify-content: space-evenly;
    overflow:visible;

} 
.sources{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
    width: 65%;
    border-right: 1px solid gray;
}
.countries{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 15%;
    width:35%;
}


.source-title, .country-title{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    img{
        color: #1F254C;
    }
    margin-bottom: 20px;
}
.source-country-item {
    margin-bottom: 15px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px 5px 20px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}  
.countries .source-country-item {
    width: 150%;

}
.pernumContainer{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
}
.percentage{
    background: #F18835;
    border-radius: 20px;
    width: 40px;
    text-align: center;
}

.devices-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 80%;
    width: 100%;
    column-gap: 30%;
    background: rgb(249, 249, 249);
    border-radius: 15px;

}
canvas{
    height:300px;
    width: 300px;
}
.devices-container .devices{
    position: relative;
    left: 5%;
}
.devices-container .devices, .browsers{
    padding-top: 15px;
}
.users{
    margin-left: auto;
    margin-right: auto;
}