@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    margin: -30px 0 20px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f6f5f7;
    color: #1F254C;
}

.container{
    margin-top: 5%;
}

.button-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 70%;
}

.form-button {
    border-radius: 20px;
    border: 1px solid #F18835;
    background-color:#F18835;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
}

.form-button:hover {
    transform: scale(0.95);
}
.form-button:focus {
    outline: none;
}
.form-button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.cancel-button {
    height: 48px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #1F254C;
    background:white;
    padding: 10px 20px;
    background-size: auto 300%;
    background-position: 0 100% ;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    text-align: center;
    transition: transform 80ms ease-in;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
}

.cancel-button:hover {
    background-size: auto 100%;
    background-position: 0 0;
    color: #F18835;
    transform: scale(0.95);
}

.cancel-button:active {
    background-size: auto 300%;
    background-position: 0 100%;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.16);
    color:#1F254C;
}

.cancel-button[disabled] {
    border: 1px solid #1F254C;
    box-shadow: none;
    opacity: .4;
}


.section-title{
    position: relative;
    align-self: center;
    margin-bottom: 20px;
}

form {
    background-color: #FFFFFF;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

.form-label {
    margin-bottom: 5px;
}

.form-input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.editProfile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    justify-content: space-between;

}

.left-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #1F254C;
    background: -webkit-linear-gradient(to right,#1DBDB6,#1F254C);
    background: linear-gradient(to right,#1DBDB6,#1F254C);
    position: relative;
    width: 50%;
    z-index: 1;
}

.profile-picture {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%
}

.username {
    font-family: Arial, sans-serif;
    color: #fff;
    position: relative;
    align-self: center;
    top: 45%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
}

.section-title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}




