@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.feedback-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    height: 500px;
    width: 500px;
    display: none;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3%;
    padding-bottom: 5%;
    z-index: 9999;
}

.feedback-container .feedback-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100;
}

.feedback-container .feedback-content{
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.feedback-content h3{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20;

}


a {
    text-decoration: none;
    color: #1F254C;
    transition: color .2s;
}

a:hover {
    color:#1F254C;
}

a:active {
    color: #1F254C;
}

.btn-primary {

    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom,#1F254C,#353A5D,#4B506F);
    padding: 11px 23px;
    background-size: auto 300%;
    background-position: 0 100% ;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 50px;
    margin-right: 0;
    width: 120;
    

}
.btn-primary:hover {
    background-size: auto 100%;
    background-position: 0 0;
    color: #fff;
    transform: translateY(-3px)translateX(-5px);

}

.btn-primary:active {
    background-size: auto 300%;
    background-position: 0 100%;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.16);
    color: #fff;
}

.btn-primary[disabled] {
    background: #1F254C;
    box-shadow: none;
    opacity: .4;
    cursor: not-allowed;
}
.account-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-secondary {
    height: 48px;
    display: inline-block;
    font-weight: 700;
    color: #1F254C;
    background:white;
    padding: 11px 23px;
    background-size: auto 300%;
    background-position: 0 100% ;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
    margin-right: 40;
    width: 120;

}

.btn-secondary:hover {
    background-size: auto 100%;
    background-position: 0 0;
    color: #F18835;
    transform: translateY(-3px)translateX(-5px);
}

.btn-secondary:active {
    background-size: auto 300%;
    background-position: 0 100%;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.16);
    color:#1F254C;
}

.btn-secondary[disabled] {
    border: 1px solid #1F254C;
    box-shadow: none;
    opacity: .4;
}


@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .btn-primary {
        background: #1F254C;
    }

    .btn-primary:hover {
        background: #1F254C;
    }

    .btn-secondary {
        border: 1px solid #1F254C;
    }

    .btn-secondary:hover {
        border: 1px solid #1F254C;
    }
}


label.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font: 300 14px "Poppins", sans-serif;

}
label:focus-within {
    color: #1F254C;
}

label input,label textarea,label select {
    margin-top: 8px;
}

.feedback-content textarea,
.feedback-content input[type=text] {
    
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.04);
    font-weight: 400;
    color: #1F254C;
    padding: 11px 16px;
    transition: border .2s;
    resize: none;
}

.feedback-content textarea:hover,
.feedback-content input[type=text]:hover {
    border: 1px solid #ccc;
}

.feedback-content textarea:focus,
.feedback-content input[type=text]:focus{
    border: 1px solid #1F254C;
}

.feedback-content textarea:disabled,
.feedback-content input[type=text]:disabled,
.feedback-content input[type=email]:disabled,
.feedback-content input[type=password]:disabled {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    color: #616161;
}


.modal {
    box-shadow: none!important;
    border-radius: 16px!important;
    width: 100%!important;
    padding: 0!important;
}

.blocker {
    background: rgba(0,0,0,.64)!important;
}

.close-modal {
    display: none!important;
}

.modal-content {
    padding: 24px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.04);
    border-radius: 16px 16px 0 0;
    padding: 0 24px;
}

