<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Template</title>
</head>
<body>
    <h1>Hello PDF!</h1>
    <p>This is a sample PDF generated from a Twig template.</p>
</body>
</html>
